


*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: auto;

}

article{
    padding: 20px 15px;
}


            /*--------------------------- HEADER   monile first  */

header{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

header img{
    width: 110px;
    height: auto;
    margin-left: 18px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

header li{

    text-align: center;
    flex-grow: 1;
    padding: 15px 0;
}

#inscription{
    position: absolute;
    right: 15px;
    top: 25px;
    
}

#inscription a{
    font-weight: bold;
    color: #0065fc;
}

#inscription a:hover{
    border-bottom: none;
    margin-right: 4px;
    margin-top: 3px;
}

header a{
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
    color: black;
}

header a:hover{
    border-bottom: #0065fc 3px solid;
    color: #0065fc;
}

/*-------------------------------------   Search---*/




#find h1{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.4em;
}

#find p{
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 100;
}

#recherche{

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 40px;

 
}

#recherche input{
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 12px;

    display: block;
    font-weight: bold;
    font-size: 1.2em;
}

.fa-map-marker-alt{
    padding: 16px;
    text-align: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#recherche button span{
    display: none;
}

.fa-search{
    padding: 16px;
    text-align: center;
    color: white;
    
}

#recherche button{
    position: relative;
    right: 6px;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 15px;
    cursor: pointer;
}


/*-------------------------------------- Filter   */

section h2{
    margin-top: 20px;
    
}

#filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-item{
    margin: 10px 0;
    font-weight: bold;
}


.filter-item:hover{
    transform: scale(1.2);
}

.filter-item:active{
    transform: scale(1.2);
}





.filter-item i{
    padding: 15px;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
}

.filter-item span{
    padding: 13px 25px;
    border-top: 3px solid #F2F2F2;
    border-right: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    border-radius: 0 35px 35px 0;

    position: relative;
    right: 25px;

}
/*-------------------------------------------- info   */

#info{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#info i{
    padding:5px 12px;
    margin-right: 10px;
    color: #0065fc;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}

#info p{
    padding-top: 5px;
}

#info span mark{
    position: relative;
    top: 2px;
    right: 2px;
    background-color: inherit;
    font-style: italic;
}
/*-------------------------------- POPULAIRES   */
#populaires{
    background-color: #F2F2F2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 20px;
}

#populaires-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title-pop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

#title-pop h2{
    font-size: 1.2em;
}

.card-pop{
    width: 335px;
    height: 144px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: white;
    padding: 0px;
    margin: 10px 0;
    text-decoration: none;
    color: black;

    border-radius: 25px;
    box-shadow: -0.6em 0.6em 0.8em #dfdede;
}

.img-pop{
    width: 126px;
    height: 135px;
    overflow: hidden;
    border-radius: 25px 0 0 25px;
    flex: 0 0 auto;

}

.img-pop img{
    object-fit: cover;
    width: 126px;
    height: 135px;
}


.content-pop{
    margin:  0 15px;
    padding: 10px 0;
    font-size: 0.9em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

/*--------------------------------------------- Hebergements   */

#hebergements{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 20px;

}

#hebergements h2{
    margin: 15px 0;
}

#card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-hebergements{
    width: 335px;
    height: 198px;

    margin: 10px 0;
 
    background-color: white;

    border-radius: 25px;
    border: 2px solid #F2F2F2;
    box-shadow: -0.6em 0.6em 0.5em #F2F2F2;
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;
}

.img-hebergements{
    height: 100%;
    overflow: hidden;
    border-radius: 25px 25px 0 0;

}

.img-hebergements img{
    width: 335px;
    height: 100px;
    object-fit: cover;

   
}

.content-hebergements{
    padding: 8px;
}

.content-hebergements p{
    margin: 8px 0;
}

#plus{
    font-size: 1.2em;
    margin: 20px 15px;
}



/*--------------------------------------------  activites    */

#activites{
    background-color: white;
}

#activites h2{
    margin: 25px 0;
}

#activites-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.card-activites{
    width: 335px;
    height: 190px;

    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    color: black;

    border: 2px solid #F2F2F2;
    border-radius: 25px;
    box-shadow: -0.6em 0.6em 0.5em #F2F2F2;

}

.card-activites h3{
    margin: 20px 15px;
}

.img-activites{
    overflow: hidden;
    height: 100%;
    border-radius: 25px 25px 0 0;

}

.img-activites img{
    width: 335px;
    height: 150px;
    object-fit: cover;

}


/*-------------------------------------------------------- Footer        */
footer{
    background-color: #F2F2F2;
    padding: 20px 50px;

    display: flex;
    flex-direction: column;

}

footer ul{
    list-style: none;
    margin: 15px 0;
}

footer h3{
    margin: 12px 0;

}

footer li{
    margin: 8px 0;

}

footer a{
    text-decoration: none;
    color: black;
}


/* colors for stars  */
.blue{
    color: #0065fc;
}

.grey{
    color: #F2F2F2;
}




/*--------------------------------------------- Tab and landscape  */

@media screen and (min-width:530px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 4px;
        padding-top: 0px;

    }
    header img{
        padding-top: 40px;
    }

    header ul{
        margin-top: 0px;
    }

    #inscription{
        position: initial;
        font-weight: 400;
    } 

    header li{
        padding: 0px 30px;
    }

    #inscription a:hover{
        border-bottom: none;
        margin-right: 0px;
        margin-top: 0px;
    }

    header a{
        padding-bottom: 0px;
        padding-top: 40px;
    }
    header a:hover{
        border-bottom: none;
        border-top: 3px solid #0065fc;
    }
    /*--------------------------------------------------------*/
    main{
        margin: 30px 20px;

    }


    /*--------------------------------------  Search-------------*/

    #recherche button span{
        display: inline;
    }

    #recherche button i{
        display: none;
    }

    #recherche button{
        color: white;
        padding: 14px 15px;
        border-radius: 0px 15px 15px 0px;
    }

    /*------------------------------------- populaires    */

    #populaires{
        border-radius: 25px;
    }

    #populaires-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*------------------------------- hebergements  */
    #card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-hebergements{
        width: 245px;
        height: 200px;

        padding: 5px;
    }

    .card-hebergements img{
        width: 245px;
    }

    /*---------------------------------   activites   */

    #activites-container{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    
    }

    .card-activites{
        width: 300px;
        margin-bottom: 5px;
    }



    /* for activites card who have to grow */
    .auto{
       height: 440px;    
    }

    .resize img{
        height: 440px;
    }

    .align{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*--------------------------------------------footer    */
    
}


/*-------------------------------------------------------- PC   */

@media screen and (min-width:1200px){


    header{
        margin: 4px 50px ;
    
    }
    header li{
        padding: 0px 60px;
    }
/*-------------------------------------------------------*/
    main{
        margin: 30px 50px;
    }
    /*------------------------------------------------- filter  */
    section{
        display: flex;
        flex-direction: row;
        margin-top: 25px;
    }
    section h2{
        margin-right: 20px;
    }

    /* --------------------------------------- populaires  */
    #populaires-container{
        flex-direction: column;
    }

    /*------------------------------------- center container */

    #center-container{
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }





    
    /*------------------------------------- hebergement     */

    #hebergements{
        background-color: #F2F2F2;
        margin-right: 30px;
        border-radius: 25px;
    }



    #plus{
        margin: 25px 50px;
    }

    /*---------------------------------------  footer   */
    footer{
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer ul{
        width: 33%;
    }
    
}



